.holiday-type {
    background-image: url("../images/Layer_12.png");
    background-position: center;
    background-color: $color-background;
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-main;

    .holiday-title {
        color: $color-main;
        padding-top: 30px;
    }

    .holiday-subtitle {
        color: $color-main;
    }

    &-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        a {
            color: $color-text;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
            font-size: 26px;
            line-height: 50px;
        }

        [class*="fa-"] {
            color: $color-text;
            width: 158px;
            height: 158px;
            font-size: 70px;
            border: 5px solid $color-main;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:hover {
                color: $color-button;
            }
        }
    }
}